h1 {
    color: green;
    font-family: "Papyrus", fantasy;
    font-size: 100px;
    text-align:center;
}
body{
    background-size: 200%;
    background-image: url("taust.jpg");
}
p{
    color: pink;
    font-family: "Comic Sans MS";
    font-size: larger;
    text-align:justify;
    -webkit-text-stroke: 1px black; 

}

img{
    border: 2px solid purple;
    border-radius: 5px;
    padding: 7px;
}