h1 {
    color: green;
    font-family: "Papyrus", fantasy;
    font-size: 100px;
    text-align:center;
}

p{
    color: yellow;
    font-family: "Comic Sans MS";
    font-size: medium;
    text-align:justify;

}

img{
    border: 2px solid purple;
    border-radius: 5px;
    padding: 7px;
    shadow: 10px;
}